*{
    margin: 0px;
    padding: 0%;
}




.header{
    background-color: rgb(117, 231, 231);
    line-height: 70px;
    padding-left: 30px;
}

a,a:hover{
    text-decoration: none!important;
    font-size: 20px;
    font-weight: bolder;
}

.logout{
    float: right;
    padding-right: 30px ;
}

ul{
    background-color: #424a5b;
    width: 16%;
    height: 100%;
    position: fixed;
    padding-top: 5%;
    text-align: center;
}

ul li{
    list-style: none;
    padding-bottom: 30px;
    font-size: 20px;

}
ul li a{
    color: aliceblue;
    font-weight: bold;
    
}

ul li a:hover{
    color: aquamarine;
    text-decoration: none;
}

.content{
    margin-left: 20%;
    margin-top: 5%;
}

.btn btn-danger:hover,
.btn btn-primary:hover {
    transform: none;
    box-shadow: none;
    opacity: 1;
}